/*
 * WeHelp Bootcap Assignment - Taipei Trip 台北一日遊
 */
/** 
 * Globel
 * Button
 * Header
 * Jumbotron
 * Carousel
 * Thumbnail
 * Attraction Thumbnail
 * Attractions
 * Booking
 * Footer
**/

/*-------------------------*/
/* $Globel
---------------------------*/
.wrapper {
  background-color: #eff3f5;
  overflow: hidden;
  min-width: 360px;
}

/*-------------------------*/
/* $Button 
---------------------------*/
.btn {
  /* structure */
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 10px 20px;
  min-width: 64px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* style */
  font-size: 19px;
  text-align: center;
  font-weight: 500;
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #448899;
  border: 0;
  border-radius: 4px;
  outline: none;
  /* interact */
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/*-------------------------*/
/* $Header
---------------------------*/
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* logo */
.navbar__logo {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}
.navbar__logo a {
  display: inline-block;
  padding: 10px 0px;
  color: #448899;
}

/* menu */
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: -10px;
}
.nav__menu li {
  padding: 10px 0px;
}
.nav__menu li .menu__item {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  padding: 10px;
  color: #595959;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__menu .menu__item:hover {
  color: #454545;
}

/*-------------------------*/
/* $Jumbotron
---------------------------*/
/* jumbotron */
.jumbotron {
  margin-top: 54px;
  background: -o-linear-gradient(315deg, #aaddee 0%, #66aabb 100%);
  background: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);
  padding-top: 65px;
  padding-bottom: 66px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 576px) {
  .jumbotron {
    padding-top: 85px;
    padding-bottom: 86px;
  }
}

/* jumbotron heading */
.jumbotron__heading {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  color: #f8f8f8;
  margin: 0px;
  padding-bottom: 15px;
  text-shadow: 0px 0px 30px #aabbcc;
}

/* jumbotron content */
.jumbotron__content {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #f8f8f8;
  margin: 0px;
  padding-bottom: 25px;
}

/* attraction search form */
.attraction__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.attraction__form input[type="text"] {
  width: 230px;
  padding: 0px 15px;
  display: inline-block;
  color: #757575;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px 0px 0px 4px;
  height: 46px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .attraction__form input[type="text"] {
    width: 400px;
  }
}
.attraction__form input[type="text"]:focus {
  outline: 0;
  border: 1px solid #757575;
}
.attraction__Btn {
  border: 0px;
  padding: 0px 15px;
  line-height: 46px;
  background: #448899;
  border-radius: 0px 4px 4px 0px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* interact */
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* jumbotron background */
.jumbotron__bg {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/welcome.png");
  background-size: 276px;
  background-repeat: no-repeat;
  background-position: bottom right;
  left: 60%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 1400px;
}
@media (min-width: 576px) {
  .jumbotron__bg {
    background-size: 500px;
    left: 58%;
  }
}
@media (min-width: 991px) {
  .jumbotron__bg {
    background-size: 650px;
    left: 50%;
  }
}

/*-------------------------*/
/* $Carousel
---------------------------*/
/* carousel */
.carousel {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.carousel .carousel__items {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  left: 0px;
}
.carousel .carousel__items .carousel__item {
  font-size: initial;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  white-space: normal;
}
.carousel .carousel__nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.carousel .carousel__nav .carousel__nav-prev,
.carousel .carousel__nav .carousel__nav-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
  opacity: 0.5;
  pointer-events: painted;
}
.carousel .carousel__nav .carousel__nav-prev {
  left: 24px;
  background-image: url("/static/images/btn_leftArrow.png");
  background-size: cover;
  background-position: right;
}
.carousel .carousel__nav .carousel__nav-next {
  right: 24px;
  background-image: url("/static/images/btn_rightArrow.png");
  background-size: cover;
  background-position: left;
}

/*-------------------------*/
/* $Img Box 
---------------------------*/
/* imgbox */
.imgbox {
  width: 100%;
  display: block;
  overflow: hidden;
}
.imgbox__inner {
  width: 100%;
  height: 0;
  position: relative;
}
.imgbox__inner-5-3 {
  padding-top: calc(100% * 3 / 5);
}
.imgbox__inner-4-3 {
  padding-top: calc(100% * 3 / 4);
}
.imgbox__inner .imgBox-fit {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.imgbox__inner .imgBox-fit img.image {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  height: inherit;
}

/*-------------------------*/
/* $Thumbnail 
---------------------------*/
/* Thumbnail */
.thumbnail {
  color: #757575;
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
}
.thumbnail__info .thumbnail__title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
  margin: 0px;
  padding-top: 13px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.thumbnail__info .thumbnail__information {
  padding-top: 8px;
  padding-bottom: 12px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.thumbnail__info .thumbnail__information .thumbnail__MRT,
.thumbnail__info .thumbnail__information .thumbnail__category {
  padding: 0px 10px;
}

/*-------------------------*/
/* $Attractions Thumbnail
---------------------------*/
/* attractions Thumbnail */
.attractions__thumbnail {
  padding-top: 55px;
  padding-bottom: 55px;
}

/*-------------------------*/
/* $Attraction
  ---------------------------*/
/* attraction */
.attraction {
  padding-top: 55px;
  padding-bottom: 55px;
}

/* Salepage Top */
.salepage__top-section {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.salepage__top-section .salepage__top-left,
.salepage__top-section .salepage__top-right {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding-bottom: 20px;
}
@media (min-width: 960px) {
  .salepage__top-section .salepage__top-left,
  .salepage__top-section .salepage__top-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}
/* Salepage Top left */
.salepage__top-section .salepage__top-left .imgbox__inner-4-3 {
  padding-top: calc(100% * 3 / 4);
}

/* Salepage Top Righ Info */
.salepage__top-section .salepage__top-right .salepage__info .salepag__title {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #666666;
  padding-bottom: 15px;
}
.salepage__top-section .salepage__top-right .salepage__info .salepag__tage {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  padding-bottom: 20px;
}

/* Salepage Top Right Form */
.salepage__form {
  padding: 15px 20px 40px 20px;
  background-color: #e8e8e8;
  color: #666666;
  font-size: 16px;
}
.salepage__form .salepage__form-title {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  padding-bottom: 15px;
}
.salepage__form .salepage__form-content {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  padding-bottom: 15px;
}
.salepage__form-item {
  padding-bottom: 15px;
}
.salepage__form label {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #666666;
  padding-right: 5px;
  vertical-align: middle;
}
.salepage__form input[type="date"] {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  width: 193px;
  height: 38px;
  border: 1px solid #666666;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
}
.salepage__form input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  vertical-align: middle;
  margin: 0px 6px 0px 7px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.salepage__form .salepage__form-radio-item label:nth-last-of-type(-n + 2) {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.salepage__form input[type="radio"]:checked {
  background-color: #448899;
  border-color: #ffffff;
}

.salepage__form-price-label {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #666666;
  padding-right: 5px;
}
.salepage__form-price {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
  padding-right: 5px;
}
.salepage__form .btn {
  margin-top: 10px;
}

/* Salepage Middle Section */
.salepage__middle-section {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  color: #666666;
  font-size: 16px;
  line-height: 24px;
}
.salepage__middle-section .salepage__middle-description,
.salepage__middle-section .salepage__middle-address,
.salepage__middle-section .salepage__middle-transport {
  padding-bottom: 20px;
  font-weight: 400;
}
.salepage__middle-title {
  line-height: 32px;
  font-weight: 700;
}
.salepage__middle-content {
  font-weight: 400;
  line-height: 24px;
}

/*-------------------------*/
/* $Booking 
---------------------------*/
/* booking */
.booking {
  padding-top: 55px;
  padding-bottom: 55px;
}
.booking__container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Booking Top Section */
.booking__top-section {
  padding-top: 45px;
  border-bottom: 1px solid #e8e8e8;
}
.booking__member {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  color: #666666;
  padding-bottom: 35px;
}

/* Booking Info */
.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Booking Info Images*/
.booking__image {
  padding-bottom: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}
@media (min-width: 576px) {
  .booking__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  .booking__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }
}

/* Booking Info Content*/
.booking__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding-top: 5px;
}
@media (min-width: 576px) {
  .booking__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(60% - 30px);
    flex: 1 1 calc(60% - 30px);
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .booking__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(70% - 30px);
    flex: 1 1 calc(70% - 30px);
  }
}
.booking__content-title {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  color: #448899;
  padding-bottom: 30px;
}
.booking__content-date,
.booking__content-time,
.booking__content-cost,
.booking__content-place {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
  padding-bottom: 20px;
}
.booking__content-place {
  padding-bottom: 5px;
}
.booking__content-date span,
.booking__content-time span,
.booking__content-cost span,
.booking__content-place span {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
}

/* Booking Info Delete*/
.booking__delete {
  padding-bottom: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  text-align: right;
}
@media (min-width: 576px) {
  .booking__delete {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
.booking__delete .booking__Icon-delete .icon-delete {
  width: 30px;
  height: 30px;
}

/* Booking Middle Sectio */
.booking__middle-section,
.booking__bottom-section {
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #e8e8e8;
}
.booking__form .booking__form-title {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  color: #666666;
  padding-bottom: 35px;
}
.booking__form .booking__form-content {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  padding-top: 5px;
}
.booking__form-item {
  padding-bottom: 15px;
}
.booking__form label {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #666666;
  padding-right: 5px;
}
.booking__form input[type="text"],
.booking__form input[type="email"],
.booking__form input[type="tel"] {
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  width: 200px;
  line-height: 34px;
  border: 1px solid #e8e8e8;
  padding: 0px 10px;
  border-radius: 4px;
}

.booking__form input[type="text"]:focus,
.booking__form input[type="email"]:focus,
.booking__form input[type="tel"]:focus {
  outline: 0;
  border: 1px solid #757575;
}

.booking__form .booking__price {
  padding-top: 45px;
  text-align: right;
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
}
.booking__form .booking__btn {
  padding-top: 25px;
  text-align: right;
  padding-bottom: 5px;
}

/*-------------------------*/
/* $Footer
---------------------------*/
/* footer */
.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #757575;
}

/* copyright */
.copyright {
  text-align: center;
  font-family: "Noto Sans TC", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
}
