<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taipei Trip 台北一日遊</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/component.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <!-- Start header -->
      <header class="header">
        <div class="container">
          <div class="navbar">
            <div class="navbar__logo">
              <a href="/">台北一日遊</a>
            </div>
            <div class="navbar__nav">
              <ul class="nav__menu">
                <li><a href="#" class="menu__item">預定行程</a></li>
                <li><a href="#" class="menu__item">登入/註冊</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- End header -->

      <!-- Start jumbotron -->
      <section class="jumbotron">
        <div class="jumbotron__bg"></div>
        <div class="container">
          <h1 class="jumbotron__heading">輕鬆享受台北一日休閒</h1>
          <p class="jumbotron__content">探索每個角落，體驗城市的深度旅遊行程</p>
          <form class="attraction__form" action="">
            <label for="attraction"> </label>
            <input
              type="text"
              name=""
              id="attraction"
              placeholder="輸入景點名稱查詢"
            />

            <a href="#" class="attraction__Btn">
              <i class="icon icon-search"></i>
            </a>
          </form>
        </div>
      </section>
      <!-- End jumbotron -->

      <!-- Start Attractions Thumbnail -->
      <section class="attractions__thumbnail">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
              <div class="thumbnail">
                <div class="imgbox">
                  <div class="imgbox__inner imgbox__inner-5-3">
                    <div
                      class="image"
                      style="
                        background-image: url('https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2898_4.jpg&sizetype=3');
                      "
                    ></div>
                  </div>
                </div>
                <div class="thumbnail__info">
                  <h6 class="thumbnail__title">平安鐘</h6>
                  <div class="thumbnail__information">
                    <div class="thumbnail__MRT">忠孝復興</div>
                    <div class="thumbnail__category">公共藝術</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Attractions Thumbnail -->

      <!-- Start Footer -->
      <footer class="footer">
        <div class="container">
          <p class="copyright">COPYRIGHT © 2021 台北一日遊</p>
        </div>
      </footer>
      <!-- End Footer -->
    </div>
  </body>
</html>
